# Compiled class file
*.class

# Log files
*.log*

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


#Gradle
.gradle
build/
out/
gradle/
gradlew
gradlew.bat
gradle-app.setting
!build.gradle

#IntelliJ
.idea
*.iml
